@use "../base/variables" as var;
@use "../base/mixins" as mix;

.header{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
        text-decoration: none;
    }
}