@use "variables" as var;

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*:after, *:before, *{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: var.$font_principal;
    transition: all 0.5s linear;
    color: var.$secundary_color;
}


h1{
    font-size: 4.2rem;
    font-weight: bold;
    @media (max-width: 992px) {
        font-size: 3.2rem;
    }
}

h2{ 
    font-size: 3.2rem;
    font-weight: bold;
    @media (max-width: 992px) {
        font-size: 2.6rem;
    }
}

h3{
    font-size: 2.4rem;
    font-weight: bold;
    @media (max-width: 992px) {
        font-size: 2rem;
    }
}